<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Power documents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<p></p>
<div class="container">
    <div class="card">
        <div class="card-header">
            Documents for carbon credit 
        </div>
        <div class="card-body">
            <div class="list-group">
                <a href="/pvv" class="list-group-item list-group-item-action list-group-item-secondary"> Project validation and verification report</a>
                <a href="/val" class="list-group-item list-group-item-action list-group-item-secondary">Validaton Report</a>
                <a href="/mon" class="list-group-item list-group-item-action list-group-item-secondary">Monitoring Report</a>
                <a href="/var" class="list-group-item list-group-item-action list-group-item-secondary">verification Report</a>
                <a href="/ver" class="list-group-item list-group-item-action list-group-item-secondary">Document Verification</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
